<?xml version="1.0" encoding="UTF-8"?>
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Railway.CreateAccount"/>
      <class name="Railway.BookTicket"/>
      <class name="Railway.ResetPassword"/>
      <class name="Railway.LoginTest"/>
      <class name="Railway.Logout"/>
      <class name="Railway.CancelBooking"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
