<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Railway Test Suite">

    <test name="Railway Test">
        <parameter name="browser" value="chrome"/>

        <classes>
            <class name="Railway.LoginTest"/>
            <class name="Railway.Logout"/>
            <class name="Railway.CreateAccount"/>
            <class name="Railway.BookTicket"/>
            <class name="Railway.CancelBooking"/>
            <class name="Railway.ResetPassword"/>
        </classes>
    </test>
</suite>
